[submodule "fixture/Java/input_project/presto"]
	path = fixture/Java/input_project/presto
	url = https://github.com/facebook/presto.git
[submodule "fixture/Java/input_project/pageobjectgenerator"]
	path = fixture/Java/input_project/pageobjectgenerator
	url = https://exKAZUu@code.google.com/p/pageobjectgenerator/
[submodule "fixture/Java/input_project/storm"]
	path = fixture/Java/input_project/storm
	url = https://github.com/nathanmarz/storm.git
[submodule "fixture/JavaScript/input_project/kraken-js"]
	path = fixture/JavaScript/input_project/kraken-js
	url = https://github.com/paypal/kraken-js.git
[submodule "fixture/JavaScript/input_project/cheet.js"]
	path = fixture/JavaScript/input_project/cheet.js
	url = https://github.com/namuol/cheet.js.git
[submodule "fixture/JavaScript/input_project/ionic"]
	path = fixture/JavaScript/input_project/ionic
	url = https://github.com/driftyco/ionic.git
[submodule "fixture/JavaScript/input_project/reportr"]
	path = fixture/JavaScript/input_project/reportr
	url = https://github.com/SamyPesse/reportr.git
