[submodule "fixture/Java/input_project/presto"]
	path = fixture/Java/input_project/presto
	url = https://github.com/facebook/presto.git
[submodule "fixture/Java/input_project/pageobjectgenerator"]
	path = fixture/Java/input_project/pageobjectgenerator
	url = https://exKAZUu@code.google.com/p/pageobjectgenerator/
[submodule "fixture/Java/input_project/storm"]
	path = fixture/Java/input_project/storm
	url = https://github.com/nathanmarz/storm.git
[submodule "fixture/JavaScript/input_project/kraken-js"]
	path = fixture/JavaScript/input_project/kraken-js
	url = https://github.com/paypal/kraken-js.git
